version: '3.8'

services:
  huoxing-app:
    image: huoxing-search:latest
    container_name: huoxing-app
    restart: always
    ports:
      - "6060:6060"
    volumes:
      - ./data:/app/data
    environment:
      - TZ=Asia/Shanghai